.grid_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 80%));
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.category_section {
  background-color: rgb(255, 221, 174);
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px;
}
.category_title {
  font-family: "Italianno", cursive;
  margin-top: 30px;
  font-size: 30px;
}