.header {
    height: 150px;
    background-color: rgb(255, 253, 218);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}
.logo {
    font-size: 36px;
}
.title {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 500;
    font-size: 36px;
    font-style: italic;
    color: #6e2601;
}